{% extends "base.html" %}
{% block title %}Flask Test - Login{% endblock %}
{% block content %}
    <style>
        div{
        text-align: center;
        }

        #loginbox {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: auto;
        background-color: #C5C4C4;
        border-style: solid;
        border-width: 3px;
        border-height:300;
        border-color: #444242;
        border-radius: 25px;
        }

        #message {
        text-align: center;
        }

    </style>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p id="message" class="lead">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div id="loginbox">
    <form action="#" method="post">
        <p class="lead">Username:</p>
        <p><input type="text" name="username" /></p>
        <p class="lead">Password:</p>
        <p class="lead"><input type="text" name="password" /></p>
        <p><input type="submit" class="btn btn btn-dark" value="submit" /></p>
        <a class="btn btn btn-dark" href="/register" role="button">Create new account</a>
    </form>
</div>
{% endblock %}