{% extends "base.html" %}
{% block title %}Flask Test - Login{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Username:</p>
    <p><input type="text" name="username" /></p>
    <p>Password:</p>
    <p><input type="text" name="password" /></p>
    <p><input type="submit" value="submit" /></p>
    <a class="btn btn btn-dark" href="/newuser" role="button">Create new account</a>
</form>
{% endblock %}