
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
.dot{
  cursor:pointer;

}
.dot2{
  cursor:pointer;
  }

.dot3{
  cursor:pointer;
  }

.dot4{
  cursor:pointer;
  }

.dot5{
  cursor:pointer;
  }

.dot6{
  cursor:pointer;
  }

.dot7{
  cursor:pointer;
  }

.dot8{
    cursor:pointer;
    }

.dot9{
    cursor:pointer;
    }

.dot10{
    cursor:pointer;
    }

.dot11{
    cursor:pointer;
    }

.dot12{
    cursor:pointer;
    }
    </style>

</head>
<body>
{% extends "base.html" %}
{% block content%}
<div>
    <p>
        <img  class = "dot" src="{{url_for('static', filename='images/C_blank.png')}}" width="100" height="150">
        <img  class = "dot8" src="{{url_for('static', filename='images/C#_Db_blank.png')}}" width="50" height="150">
        <img  class = "dot2" src="{{url_for('static', filename='images/D_blank.png')}}" width="100" height="150">
        <img  class = "dot9" src="{{url_for('static', filename='images/D#_Eb_blank.png')}}" width="50" height="150">
        <img  class = "dot3" src="{{url_for('static', filename='images/E_blank.png')}}" width="100" height="150">
        <img  class = "dot4" src="{{url_for('static', filename='images/F_blank.png')}}" width="100" height="150">
        <img  class = "dot10" src="{{url_for('static', filename='images/F#_Gb_blank.png')}}" width="50" height="150">
        <img  class = "dot5" src="{{url_for('static', filename='images/G_blank.png')}}" width="100" height="150">
        <img  class = "dot11" src="{{url_for('static', filename='images/G#_Ab_blank.png')}}" width="50" height="150">
        <img  class = "dot6" src="{{url_for('static', filename='images/A_blank.png')}}" width="100" height="150">
        <img  class = "dot12" src="{{url_for('static', filename='images/A#_Bb_blank.png')}}" width="50" height="150">
        <img  class = "dot7" src="{{url_for('static', filename='images/B_blank.png')}}" width="100" height="150">


    </p>
</div>
<script src = "https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script id = "rendered-js>">
$(document).ready(function(){

    var audioA = document.createElement('audio');
    audioA.setAttribute('src', '{{url_for('static', filename='sounds/A.mp3')}}');

    var audioB = document.createElement('audio');
    audioB.setAttribute('src', '{{url_for('static', filename='sounds/B.mp3')}}');

    var audioC = document.createElement('audio');
    audioC.setAttribute('src', '{{url_for('static', filename='sounds/C.mp3')}}');

    var audioD = document.createElement('audio');
    audioD.setAttribute('src', '{{url_for('static', filename='sounds/D.mp3')}}');

    var audioE = document.createElement('audio');
    audioE.setAttribute('src', '{{url_for('static', filename='sounds/E.mp3')}}');

    var audioF = document.createElement('audio');
    audioF.setAttribute('src', '{{url_for('static', filename='sounds/F.mp3')}}');

    var audioG = document.createElement('audio');
    audioG.setAttribute('src', '{{url_for('static', filename='sounds/G.mp3')}}');

    var audioAB = document.createElement('audio');
    audioAB.setAttribute('src', '{{url_for('static', filename='sounds/A#_Bb.mp3')}}');

    var audioCD = document.createElement('audio');
    audioCD.setAttribute('src', '{{url_for('static', filename='sounds/C#_Db.mp3')}}');

    var audioDE = document.createElement('audio');
    audioDE.setAttribute('src', '{{url_for('static', filename='sounds/D#_Eb.mp3')}}');

    var audioFG = document.createElement('audio');
    audioFG.setAttribute('src', '{{url_for('static', filename='sounds/F#_Gb.mp3')}}');

    var audioGA = document.createElement('audio');
    audioGA.setAttribute('src', '{{url_for('static', filename='sounds/G#_Ab.mp3')}}');


    $('.dot').click(function(){
        audioC.play();
});

  $('.dot2').click(function(){
 audioD.play();
  });

  $('.dot3').click(function(){
 audioE.play();
  });

  $('.dot4').click(function(){
 audioF.play();
  });

  $('.dot5').click(function(){
 audioG.play();
  });

  $('.dot6').click(function(){
 audioA.play();
  });

  $('.dot7').click(function(){
 audioB.play();
  });

  $('.dot8').click(function(){
 audioCD.play();
  });

  $('.dot9').click(function(){
 audioDE.play();
  });

  $('.dot10').click(function(){
 audioFG.play();
  });

  $('.dot11').click(function(){
 audioGA.play();
  });

  $('.dot12').click(function(){
 audioAB.play();
  });


})
    </script>
{% endblock %}
</body>
</html>